@import "../navbar/Variables/Variables.styles.scss";

.dec1, .dec2 {

    @keyframes ballAnimated {
        0% {
            transform: rotate(0);
            width: 500px;
            height: 500px;
        }

        100% {
            width: 550px;
            height: 550px;
            transform: rotate(180deg);
        }
    }

    position: absolute;
    left: -15%;
    top: -50%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.349);
    background: radial-gradient(ellipse at top, #5a0808, transparent),
                radial-gradient(ellipse at bottom, #751818a8, transparent);
    filter: blur(100px);
    z-index: -1;
    opacity: 1;
    animation-name: ballAnimated;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.dec2 {
    @keyframes ballAnimated2 {
        0% {
            transform: rotate(0);
            width: 400px;
            height: 400px;
        }

        100% {
            width: 400px;
            height: 400px;
            transform: rotate(180deg);
        }
    }


    left: 80%;
    top: 70%;
    animation-name: ballAnimated2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@media screen and (min-width: 800px) {
    .dec1 {
        left: -15%;
        top: -50%;
        width: 800px;

        @keyframes ballAnimated {
            0% {
                transform: rotate(0);
                width: 500px;
                height: 800px;
            }
    
            100% {
                width: 500px;
                height: 700px;
                transform: rotate(180deg);
            }
        }

    }
    
}
