@import '../navbar/Variables/Mixin.styles.scss';

.decoration {
    transition: 1s;
    position: relative;
    top: -26px;
    left: -10px;

    border-radius: 0 15px 15px 0;
    
    @include size(500px,160px);
    background-color: black;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.circle {
    border: 3px solid black;
    @include size(400px,400px);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: morph 7s ease-in-out infinite;
    
    background-image: url(../../../public/assets/OHOMEM.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .decoration {
        width: 400px;

        .circle {
            @include size(300px,300px);
        }
    }
}

@media screen and (max-width: 1000px) {
    .decoration {
        width: 220px;

        .circle {
            margin-left: -40px;
            @include size(250px,250px);
        }

    }
}

@media screen and (max-width: 799px) {
    .decoration {
        transform: rotate(90deg);
        width: 100px;
        margin-bottom: -20px;
        border-radius: 20px 0 0 20px;

        .circle {
            transform: rotate(-90deg);
            margin-right: -110px;
        }

    }
}

@media screen and (max-width: 450px) {
    .decoration {
        transform: rotate(90deg);
        width: 80px;
        margin-bottom: -60px;
        border-radius: 20px 0 0 20px;

        .circle {
            @include size(200px,200px);
            transform: rotate(-90deg);
            margin-right: -60px;
        }

    }
}