.navbar-links {
    box-sizing: content-box;
    z-index: 2;
    
    .navbar-link {
        font-family: 'Raleway', sans-serif;
        position: relative;
        padding: 25px 30px;
        color: white;
        font-weight: bold;
        
        &::after {
            content: '';
            transition: .7s;
            position: absolute;
            top: 54px;
            left: 22%;
            width: 0%;
            height: 2px;
            border-radius: 20px;
            background-color: red;
        }
        
        &:hover {
            font-weight: bold;

            color: red;
        }

        &:hover::after {
            width: 56%;
        }

    }
    .active {
        color: rgb(0, 225, 255);
    
        &::after {
            width: 56%;
        }
    }
}


@media screen and (max-width: 799px) {
    .navbar-links {
        display: none;
    }
}