/* Define the styles for the scrollbar */
$scrollbar-width: 4px;
$scrollbar-track-color: #000000;
$scrollbar-thumb-color: #741515af;


// Normalize everything
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    

    /* Define the width and color of the scrollbar track */
    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
    }

    /* Define the appearance of the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
        border-radius: $scrollbar-width;
    }

    /* Optionally, define the appearance of the scrollbar corner */
    &::-webkit-scrollbar-corner {
        background-color: $scrollbar-track-color;
    }
}
