@import 'Variables/Variables.styles.scss';
@import 'Variables/Mixin.styles.scss';

.mobile-navbar {
    height: 100%;
    width: 80px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .menu-strip {
        position: relative;
        width: 30%;
        height: 2px;
        background-color: $mobileMenuIconColor;
        margin: 3px;
    }

    span {
        color: $mobileMenuIconColor;
        font-size: .8em;
        margin-top: 2px;
        margin-bottom: -4px;
        font-family: 'Courier New', Courier, monospace;
    }

    .menu {
        @include size(100vw,100vh);
        position: absolute;
        transition: 1s;
        left: -100vw;
        top: 0;
        z-index: 0;
        background-color: $mobileOpenedMenuBackground;
    }
}


@media screen and (max-width: 799px) {
    .mobile-navbar {
        display: flex;
    }
}