@import 'Variables/Variables.styles.scss';
@import 'Variables/Mixin.styles.scss';

nav {
    border-bottom: 2px solid rgb(0, 0, 0);
    height: $navOriginalHeight;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(26, 25, 25, 0.336);
    transition: 1s;

    .navbar-container {
        @include size(100%, $navOriginalHeight);
        background-color: $colorNavbar;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;

        .logo {
            color: $logoColor;
            font-family: $logoFont;
            font-size: $logoSize;
            cursor: pointer;
        }
    }


    .profile-container {
        width: 75vw;
        height: 60vh;
        position: absolute;
        top: 15%;
        display: flex;
        justify-content: center;
    }

    @keyframes bounce {
        0% {top: calc(100vh - 170px); font-size: 1.5em;}
        100% {top: calc(100vh - 150px); font-size: 1.5em;}
    }

    .swipe-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70px;
        transition: 1s;
        font-size: 1.4em;
        border-radius: 20px;
        border: 1px solid $colorSwipeUp;
        color: $colorSwipeUp;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        &:hover {
            color: black;
            background-color: white;
            border: 1px solid white;
        }

        span {
            font-family: $fontCourier;
            margin-top: 10px;
            font-size: .5em;
        }
    }

}


@media screen and (max-width: 799px) {
    nav {

        .navbar-container {
            justify-content: space-around;

            .logo {
                font-size: 1.5em;
            }
        }

        .profile-container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
} 

@media screen and (max-width: 450px) {
    nav .profile-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
