@import "../VariablesGlobal.scss";

.forms-container {
    padding-top: 70px;
    padding-bottom: 100px;

    @include flexcenter();
    flex-direction: column;

    background-color: black;


    h1 {
        padding: 10px;
        color: rgb(248, 252, 1);
        font-family: $fontABout;
    }

    .send-email-container {
        @include flexcenter();
        flex-direction: column;
        position: relative;

        padding: 20px;
        width: 80%;
        z-index: 20;

        .form-section {

            display: flex;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            
            .input-container {
                position: relative;
                
                .input-field {
                    display: block;
                    padding: 10px 10px;
                    background-color: transparent;
                    border: 0;
                    color: white;
                    outline: none;
                    margin: 10px;
                    margin-left: 20px;
                    margin-right: 30px;
                    border-bottom: 2px solid #ccc;
                    
                    & + .input-label {
                        position: absolute;
                        padding: 5px;
                        color: rgba(139, 19, 19, 0);
                        font-family: $fontABout;
                        left: 10px;                    
                        top: 9px;
                        transition: 1s;
                        z-index: -1;
                    }

                    & + .input-label + .input-icon {
                        position: absolute;
                        color: black;
                        background-color: whitesmoke;
                        padding: 10px;
                        border-radius: 15px 0 0 15px;
                        font-family: $fontABout;
                        left: -14px; 
                        top: 9px;         
                        transition: .5s ease;
                    }


                    & + .input-label + .input-icon + .linebot {
                        position: absolute;
                        bottom: 10px;
                        left: 20px;
                        height: 2px;
                        width: 0px;
                        background-color: #8a0808;
                        transition: all 1s ease;
                    }
                        
                    
                    &:focus + .input-label {
                        top: -10px;
                        font-size: 12px;
                        color: #8a0808;
                        z-index: 10;
                    }

                    &:focus + .input-label + .input-icon {
                        background-color: #8a0808;
                        color: white;
                    }
                    
                    &:focus + .input-label + .input-icon + .linebot {
                        width: 250px;
                    }

                }
                
                .textarea {
                    width: 700px;
                    height: 300px;
                    background-color: #0000002a;
                    padding: 20px;

                    &:focus + .input-label {
                        top: -15px;
                        font-size: 12px;
                        color: #8a0808;
                        z-index: 10;
                    }

                    &:focus + .input-label + .input-icon + .linebot {
                        width: 700px;
                    }

                    & + .input-label + .input-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        color: black;
                        background-color: whitesmoke;
                        padding: 10px;
                        border-radius: 15px 0 0 15px;
                        font-family: $fontABout;
                        left: -14px; 
                        top: 9px;
                        height: 94.5%;   
                        transition: .5s ease;
                    }

                }

                
            }
                
            }
            
            .btn-submit {
                padding: 10px;
                background-color: black;
                color: white;
                font-family: $fontRaleway;
                border: 1px solid white;
                border-radius: 10px;
                transition: .5s;
                font-size: 1.3em;
                margin: 10px;
                cursor: pointer;
                z-index: 1;
                box-shadow: 0px 0px 20px white;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }

            .light-blink {
                width: 100px;
                height: 50px;
                position: absolute;
                bottom: -20px;
                background-image: linear-gradient(to bottom, rgb(255, 255, 255), transparent 80%);
                transform: perspective(1.1em) rotateX(35deg) scale(1);
                filter: blur(18px);
                z-index: -10;
            }
    }

    .loader {
        width: 30px;
        height: 30px;
        border: 4px solid #d41c1c50;
        border-top-color: #d41c1c;
        animation: spin013151 1s linear infinite;
        border-radius: 100%;
        position: fixed;
        left: 10px;
        z-index: 99;
        top: calc(100% - 40px);
    }

    @keyframes spin013151 {
        to {
            transform: rotate(360deg);
        }
    }   
    
    .notification-emailer {
        position: fixed;
        width: 250px;
        background-color: rgb(47, 255, 82);
        right: 20px;
        top: 100px;
        border-radius: 10px;
        z-index: 99;
        transition: .5s;

        &:hover {
            transform: scale(1.1);
        }

        .close-btn {
            position: absolute;
            right: 0;
            padding: 4px;
            margin: 5px;
            border-radius: 10px;
            color: black;
            font-family: $fontABout;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: red;
            }

        }

        h4 {
            color: black;
            font-size: 1em;
            font-family: $fontRaleway;
            padding: 10px;
        }

        p {
            text-align: justify;
            font-family: $fontRaleway;
            font-size: .8em;
            padding: 10px;
            margin-top: -15px;
        }

    }
}

@media screen and (max-width: 1000px) {

    .forms-container .send-email-container .form-section .input-container .textarea {
        width: 450px;

        &:focus + .input-label + .input-icon + .linebot {
            width: 450px;
        }
    }
}


@media screen and (max-width: 600px) {


    .forms-container .send-email-container {

        &:last-child {
            margin-left: 50px;
        }
        
        
        .form-section {
            flex-direction: column;
            margin: 20px;
            
            
            .input-container .textarea {
                width: 200px;
                margin: 10px 10px;
    
                & + .input-label + .input-icon + .linebot {
                    margin-left: 2px;
                }
    
    
                &:focus + .input-label + .input-icon + .linebot {
                    width: 190px;
                    margin-left: 2px;
                }
            }


        }    
        
        .btn-submit {
            margin-left: -30px;

        }

        .light-blink{
            margin-left: -40px;
            transform: perspective(1.1em) rotateX(31deg) scale(1.1);
            filter: blur(15px);
        }

    } 
}