$colorBubbles: rgba(161, 31, 31, 0.664); // Change this in the javaScript code

.navbar-decoration {
    background-color: $colorBubbles;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 30px;
}

@keyframes moveball1 {
    0% {
        
        top: 0;
        left: 60%;
    }

    100% {
        top: calc(100vh - 201px);
        left: 75%;
    }

}

.dec1 {
    width: 200px;
    height: 200px;
    top: 0vh;
    left: 60%;
    animation-name: moveball1;
    animation-timing-function: linear;
    animation-duration: 160s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball2 {
    0% {
        top: 100px;
        left: 0%;
    }

    50% {
        top: 30vh;
        left: calc(100% - 300px);
    }

    60% {
        top: calc(100vh - 301px);
        left: 70%;
    }
}

.dec2 {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 0%;
    animation-name: moveball2;
    animation-timing-function: linear;
    animation-duration: 300s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball3 {
    0% {
        top: 330px;
        left: calc(100% - 250px);
    }

    100% {
        top: 0px;
        left: 0%;
    }
}

.dec3 {
    width: 250px;
    height: 250px;
    top: 50px;
    left: 80%;
    animation-name: moveball3;
    animation-timing-function: linear;
    animation-duration: 182s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes moveball4 {
    0% {
        top: 20px;
        left: 10%;
    }

    100% {
        top: 0px;
        left: calc(100% - 100px);
    }
}

.dec4 {
    width: 100px;
    height: 100px;
    top: 20px;
    left: 10%;
    animation-name: moveball4;
    animation-timing-function: linear;
    animation-duration: 110s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball5 {
    0% {
        top: 20px;
        left: 82%;
    }

    100% {
        top: 0px;
        left: 0;
    }
}


.dec5 {
    width: 50px;
    height: 50px;
    top: 20px;
    left: 82%;
    animation-name: moveball5;
    animation-timing-function: linear;
    animation-duration: 150s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball6 {
    0% {
        top: 30vh;
        left: 40%;
    }

    100% {
        top: calc(100vh - 150px);
        left: 0;
    }
}


.dec6 {
    width: 150px;
    height: 150px;
    top: 50vh;
    left: 50%;
    animation-name: moveball6;
    animation-timing-function: linear;
    animation-duration: 154s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball7 {
    0% {
        top: calc(100vh - 200px);
        left: 0%;
    }

    100% {
        top: calc(100vh - 200px);
        left: calc(100% - 200px);
    }
}


.dec7 {
    width: 150px;
    height: 150px;
    top: calc(100vh - 200px);
    left: 0%;
    animation-name: moveball7;
    animation-timing-function: linear;
    animation-duration: 154s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveball8 {
    0% {
        top: 20px;
        left: 50%;
    }

    100% {
        top: 20px;
        left: calc(100% - 200px);
    }
}


.dec8 {
    width: 150px;
    height: 150px;
    top: calc(100vh - 200px);
    left: 50%;
    animation-name: moveball8;
    animation-timing-function: linear;
    animation-duration: 154s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}





@media screen and (min-width: 1000px) {
    .dec1 {
        width: 500px;
        height: 500px;
        top: 0vh;
        left: 60%;
        animation-name: moveball1;
        animation-timing-function: linear;
        animation-duration: 160s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    .dec2 {
        width: 350px;
        height: 350px;
    }
    .dec3 {
        width: 400px;
        height: 400px;
    }
    .dec4 {
        width: 300px;
        height: 300px;
    }
    .dec5 {
        width: 150px;
        height: 150px;
    }
    .dec6 {
        width: 300px;
        height: 300px;
    }
}