@import 'Variables/Variables.styles.scss';

.aboutme-container {
    width: 80%;
    max-width: 900px;
    box-shadow: 2px 2px 50px rgba(255, 0, 0, 0.288);
    border-radius: 15px;
    background-color: rgb(3, 0, 0);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    

    p {
        z-index: 1;
        padding: 20px;
        line-height: 1.25em;
        text-align: justify;
        flex: 1;
        font-size: 1.2em;
        color: white;
        font-family: $fontABout;
    }
    

    div {


        @keyframes clipRotation {
            0% {
                clip-path: polygon(0% 9%, 90% 7%, 89% 89%, 7% 90%);
            }
            50% {
                clip-path: polygon(30% 7%, 100% 24%, 69% 100%, 4% 76%);
            }
            100% {
                clip-path: polygon(45% 0%, 100% 40%, 50% 100%, 0% 57%);
            }
        }

        z-index: 1;
        flex: 1;
        height: 400px;
        margin: 10px;
        margin-left: 30px;
        background-image: url(../../assets/trajado.png);
        background-position: center;
        background-size: cover;
        clip-path: polygon(0% 9%, 90% 7%, 89% 89%, 7% 90%);
        animation: clipRotation 10s infinite linear alternate;
    }

    .border {
        &::before {
            @keyframes rotate3 {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

            @keyframes ballblinking {
                0% {
                    background-color: rgba(201, 26, 26, 0.623);
                }
                100% {
                    background-color: rgb(21, 21, 206);
                }
            }

            content: '';
            width: 200%;
            height: 200px;
            background-color: rgba(228, 243, 11, 0.719);
            filter: blur(100px);
            position: absolute;
            left: -50%;
            top: calc(50% - 50px);
            transition: 1s;
            transform: rotate(0deg);
            animation: rotate3 10s infinite linear, ballblinking 1s infinite linear alternate;
        }

        &::after {
            content: '';
            width: 98%;
            height: 98%;
            background-color: rgb(0, 0, 0);
            left: 1%;
            top: 1%;
            position: absolute;
        }
    }
}