@import 'Variables/Variables.styles.scss';

section.about-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: $backgroundColorAbout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    section.about-container {
        padding-top: 50px;
    }
}